# Penalty kicks with types

In [1]:
import numpy as np 
import pandas as pd

In [2]:
def print_payoffs(U1, U2, A1=None, A2=None, player1=None, player2=None): 
    na1,na2 = U1.shape
    tab = pd.DataFrame([[(U1[r,c],U2[r,c]) for c in range(na2)] for r in range(na1)])

    # nice headings 
    if A1 is not None: 
        tab.index = A1
    if A2 is not None:
        tab.columns = A2
    if player1 is not None:
        tab.index.name = player1
    if player2 is not None:
        tab.columns.name = player2
    
    return tab

# Input data

In [3]:
# names of the actions 
A = ['L','C','R']

In [4]:
# frequency of kicks by (kicker, goalie) actions
F = np.array([
    [117, 48, 95],
    [4, 3, 4], 
    [85, 28, 75]
])
tab = pd.DataFrame(F, index=A, columns=A)
tab.index.name = 'Goalie'
tab.columns.name = 'Kicker' 

# action frequencies in the data 
a_kicker = tab.sum(0) / tab.sum().sum()
a_goalie = tab.sum(1) / tab.sum().sum()

print(f'--- Action frequencies ---')
pd.DataFrame({'Goalie': a_goalie, 'Kicker': a_kicker}, index=A).round(2)

--- Action frequencies ---

   Goalie  Kicker
L    0.57    0.45
C    0.02    0.17
R    0.41    0.38

In [5]:
# Pr(save|kicker is left-legged)
UL = np.array([
    [0.418, 0.188, 0.055],
    [0.   , 1.   , 0.   ],
    [0.109, 0.107, 0.51 ]
])
# Pr(save|kicker is right-legged)
UR = np.array([
    [0.318, 0.188, 0.155],
    [0.   , 1.   , 0.   ],
    [0.009, 0.107, 0.61 ]
])

In [6]:
saves_leftie = pd.DataFrame(UL, index=A, columns=A)
saves_leftie.index.name = 'Goalie'
saves_leftie.columns.name = 'Kicker'
saves_leftie

Kicker      L      C      R
Goalie
L       0.418  0.188  0.055
C       0.000  1.000  0.000
R       0.109  0.107  0.510

In [7]:
saves_rightie = pd.DataFrame(UR, index=A, columns=A)
saves_rightie.index.name = 'Goalie'
saves_rightie.columns.name = 'Kicker'
saves_rightie

Kicker      L      C      R
Goalie
L       0.318  0.188  0.155
C       0.000  1.000  0.000
R       0.009  0.107  0.610

Set up the sub-game where the kicker is left-legged and this is known by both players as a normal form game.

In [8]:
t = print_payoffs(UL, -UL, A, A, 'Goalie', 'Kicker')
t

Kicker                L                C                R
Goalie
L       (0.418, -0.418)  (0.188, -0.188)  (0.055, -0.055)
C           (0.0, -0.0)      (1.0, -1.0)      (0.0, -0.0)
R       (0.109, -0.109)  (0.107, -0.107)    (0.51, -0.51)

***...continue from here...***